#####################################################
#
# List of approvers for EmagTechLabs/ckeditor5-file-upload
#
#####################################################
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

* @th3mast3rofshadows @adrianmihaila @piriianulavinia

